body { overflow:hidden; background-color:#FFF;}
h1 { color: #00A3D9; text-align:left; font-size:8rem ; padding-left:5rem; margin-top:1rem;  margin-bottom:0; text-shadow: 0 0 0}

table { width:100%; margin: auto; }

.ui-overlay-a { overflow:hidden; background-color:#FFF;}

.ui-header { text-align:center;  vertical-align : middle; border-width:0px; background:#000; } 
.ui-body { padding-bottom: 20px; background-color:#000;}
.ui-page { background:#000; }

#container { width:100%; text-align:center; margin:0 auto;}

#div_main_page { margin-top: 2rem;}


#img_refresh_devices { width:50%; }
#distance_sensor { width:100px; }
#canvas_trajectory
{
	border: 0px solid black;
	cursor: crosshair;
	background:#eee;
	border-radius: 2rem;
	
	box-shadow:0px 0px 5px 5px #C9C9C9;
	-webkit-box-shadow:0px 0px 5px 5x #C9C9C9;
	-moz-box-shadow:0px 0px 5px 5px #C9C9C9;
}


/* Styling for the header select tab */
#header_menu { width:100%; }

.header_button { width:100%;  text-align:center; margin:0 auto;}


/* Styling for the device select tab*/
.device_name { font-size: 6rem; color:#fff; }
.device_address { font-size: 4rem; color:#ddd; }
.connection_icon{ width:5rem; height:5rem;}
.device_item{ background-color:#888; border-radius: 8px; }
.device_gyro{ background-color:#abf; border-radius: 8px; }


/* Styling for the direct control tab*/
#movement_table { width:80% }
.move_button_portrait { width:12rem; height:12rem; text-align:center; margin:0 auto;}
.analog_base_portrait{ width:25rem; height:25rem; margin-top: 15%;}
.analog_stick_portrait { width:17rem; height:17rem; position:absolute;}

.move_button_landscape { width:10rem; height:10rem; text-align:center; margin:0 auto;}
.analog_base_landscape{ width:20rem; height:20rem; margin-top: 5%;}
.analog_stick_landscape { width:14rem; height:14rem; position:absolute;}


/* Styling for the trajectory tab */
.zoom_button { width:7rem; height:7rem; }
.normal_button{ width:10rem; height:10rem; }
input.ui-slider-input { display: none !important; }

input.ui-slider-slider div.ui-slider-track {
    margin: 0 15px 0 15px !important;
}

/* Styling for the sensors tab*/
#sensor_bumpers_table { width:90%;}
.linear_meter { width:90%; height: 4rem; background-color:#444;}
.rotation_meter { width:30rem; height: 30rem; background-color:#444;}

/* Styling for the piano tab*/
#piano_table{ width:90%; height:50%; margin-top:2rem;}
.piano_key_normal{ width:100%; height:60rem; background-color:#FFF; border-radius: 10px;}
.piano_key_sharp{ position:absolute; width:10rem; height:35rem; background-color:#333; border-radius: 10px;  border: 2px solid black;}

